node_modules/
dist/
release/
.DS_Store
*.log
.env
.env.local
*.tsbuildinfo
.npmrc
CLAUDE.md
AGENTS.md
/.claude
/.cursor

# 构建产物
# docs/downloads/*.dmg
# docs/downloads/*.app
# docs/downloads/*.msi
# docs/downloads/*.exe
# docs/downloads/*.AppImage
# docs/downloads/*.deb
# docs/downloads/*.rpm